.navContainer {
  position: absolute;
  top: 0;
  width: 100%;
}

.navContainer nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
}

.navItemsWrapper {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.navItemsWrapper li {
  cursor: pointer;
}

.ContactBtn {
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.hamBurger {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamBurger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.btnWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuWrapper {
  height: auto;
  background-color: white;
  gap: 1rem;
  display: none;
  animation: 0.5s menuOpen ease-in;
  overflow: auto;
  position: relative;
  z-index: 1000;
}

.menuWrapper::-webkit-scrollbar {
  display: none;
}

.menuWrapper li {
  padding: 1rem;
  list-style: none;
  color: black;
  text-align: center;
  cursor: pointer;
}

.menuWrapper li:hover {
  background-color: whitesmoke;
}

.closeIcon {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.closeIcon span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transform-origin: center;
}

.closeIcon span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeIcon span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes menuOpen {
  from{
    height: 0;
  }
  to {
    height: 40vh;
  }
}

@media screen and (max-width: 1200px) {
  .navItemsWrapper {
    gap: 1.5rem;
  }

  .navContainer nav {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 992px) {
  .navContainer nav {
    padding: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .navItemsWrapper {
    display: none;
  }

  .hamBurger {
    display: flex;
  }

  .closeIcon, .menuWrapper {
    display: block;
  }
}
